@model TODO_LIST.Models.Task

@{
   
    ViewBag.Title = "";
}
<h2>ViewAlert</h2>


<div class="alert alert-info alert-dismissable" onclick="GetID(@Model)" style=" border-radius:30px; background-color:rebeccapurple;" id="@Model.Id">


   


    <a href="Home/Delete/@Model.Id" class="close" data-dismiss="alert" id="alert_close" aria-label="close"
       style="color:black"><b>X</b></a>
    <header class="text-center" style="font:bold 30px arial; color:#000066">
        <strong>@Model.Tittle</strong>
    </header>

    <br />

    <main class="text-center" style="font:25px arial; color:#00284d">
        @Model.Comment
    </main>
    <br />
    <br />
    <footer> </footer>
    <b style="position:fixed; ">@Model.date</b>
</div>
